body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #79b7f5;
}

header {
    background: #0b3fa5;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    padding: 20px;
}

h2, h3 {
    color: white;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th {
    background: #0b3fa5;
    color: white;
    padding: 10px;
}

td {
    background: #8ec3fa;
    padding: 10px;
    text-align: center;
}

/* FORM */
.form-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

input, select {
    padding: 10px;
    border-radius: 6px;
    border: none;
    width: 200px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #0b3fa5;
    color: white;
    text-align: center;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

