
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #063da2, #0493e0);
    color: white;
    text-align: center;
    overflow-x: hidden;  /* Remove bottom scrollbar */
}

header {
    background: rgba(255,255,255,0.2);
    padding: 15px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin-left: 20px;
}

header button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 14px;
}

h1 {
    margin-top: 60px;
    font-size: 50px;
    font-weight: bold;
}

.subtitle {
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.top-buttons button {
    background: white;
    color: #333;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.stats-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 25px;
}

.stat-box {
    background: rgba(255,255,255,0.15);
    width: 160px;
    padding: 25px;
    border-radius: 12px;
}

.stat-number {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
}

.upcoming-section {
    background: #f5f7fa;
    margin-top: 70px;
    padding: 50px;
    color: black;
    text-align: left;
}

.search-box {
    width: 98%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.filter-row {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

select, input {
    padding: 12px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}
